# ----------
# DATALOADER
# ----------

dataloader:

  N_history: 3
  N_chunk: 8 # 16
  batch_size: 8
  shuffle: True
  train_split: 0.8
  fps_sampling_hist: 10
  fps_sampling_chunk: 30
  num_workers: 4
  prefetch_factor: 2
  device: "cuda"
  seed_val: -1 # -1 means no fixed seed
  print_ds_info: True 


# -------
# DATASET
# -------

dataset:

  features:
    VISUAL:
      - observation.images.front_cam1
      - observation.images.front_cam2
      - observation.images.front_cam3
      - observation.images.gripper_camera
    STATE:
      - observation.state
    ACTION:
      - action
    REMOVE:
      - observation.images.gripper_camera_depth
    META:
      - timestamp
      - frame_index
      - episode_index
      - task_index
      - index

  state_slices:
    q: [0, 7]
    qdot: [7, 14]
    tau: [14, 21]
    ee_pos: [21, 24]
    ee_quaternion: [24, 28]
    gripper: [28, 29]
    ext_force: [29,35]


# ---------------
# TRANSFORMATIONS
# ---------------

# transformations:

#   img_resize: [224, 224]
  
#   noise_std_dev:
#     joint_pos: 0.002        # σ ≈ 0.002–0.01 rad (≈ 0.1°–0.6°)
#     joint_vel: 0.002        # σ ≈ 0.02 rad/s
#     joint_torque: 0.002     # σ ≈ 0.02 Nm
#     cart_position: 0.002    # σ ≈ 0.5–2 mm
#     cart_orientation: 0.002 # σ ≈ 0.5–2° (axis-angle)
  
#   augmentations:
#     color_jitter:
#       brightness: 0.3
#       contrast: 0.3
#       saturation: 0.3
#       hue: 0.05
#       p: 1.0
#     gaussian_blur:
#       kernel_size: [3, 3]
#       sigma: [0.1, 2.0]
#       p: 0.3
#     random_affine:
#       degrees: 5
#       translate: [0.05, 0.05]
#       p: 0.5

transforms:

  image:
    resize: [224, 224]
    normalize: false
    augmentations:
      color_jitter:
        brightness: 0.2
        contrast: 0.2
        saturation: 0.2
        hue: 0.1
        p: 0.8
      gaussian_blur:
        kernel_size: [3, 3]
        sigma: [0.1, 2.0]
        p: 0.3
      random_affine:
        degrees: 5
        translate: [0.05, 0.05]
        p: 0.5

  state:
    noise_std_dev:
      joint_vel: 0.002        # σ ≈ 0.02 rad/s
      joint_torque: 0.002     # σ ≈ 0.02 Nm
    use_axis_angle: true
    use_past_actions: true
    use_fext: true