# ----------
# DATALOADER
# ----------

dataloader:
  
  batch_size: 16
  shuffle: True
  train_split_ratio: 0.8
  val_split_ratio: 0.2
  num_workers: 4
  prefetch_factor: 2
  device: "cuda"
  seed_val: -1 # -1 means no fixed seed
  print_ds_info: True 


# -------
# DATASET
# -------

dataset:

  features:
    VISUAL:
      - observation.images.front_cam1
      - observation.images.front_cam2
      - observation.images.front_cam3
    STATE:
      - observation.state
    ACTION:
      - action
    REMOVE:
      - observation.images.gripper_camera
      - observation.images.gripper_camera_depth
    META:
      - timestamp
      - frame_index
      - episode_index
      - task_index
      - index

  state_slices:
    q: [0, 7]
    qdot: [7, 14]
    tau: [14, 21]
    ee_pos: [21, 24]
    ee_quaternion: [24, 28]
    gripper: [28, 29]
    fext: [29,35]

  action_slices:
    ee_pos: [0, 3]
    ee_quaternion: [3, 7]
    gripper: [7, 8]


# ---------------
# TRANSFORMATIONS
# ---------------

transforms:

  visual:
    img_resize: [120, 160] 
    normalize: false
    augmentations:
      color_jitter:
        brightness: 0.1
        contrast: 0.1
        saturation: 0.1
        hue: 0.1
        p: 0.8
      gaussian_blur:
        kernel_size: [3, 3]
        sigma: [0.1, 1.0]
        p: 0.3
      random_affine:
        degrees: 5
        translate: [0.05, 0.05]
        p: 0.5

  state:
    augmentations:
      noise_std_dev:
        joint_vel: 0.02       # σ ≈ rad/s
        joint_torque: 0.2     # σ ≈ Nm
    use_axis_angle: False 
    use_past_actions: False
    include: # define observation state components
    # - q
    # - qdot
    # - tau
    # - fext
    - ee_pos
    - ee_ori
    - gripper

  action:
    include: # define action components
    - ee_pos 
    - ee_ori
    - gripper

